---
import "@fontsource-variable/inter";
import Kontakt from "~/components/kontakt.astro";
import O_Nas from "~/components/o_nas.astro";
import Footer from "~/components/footer.astro";
import Header from "~/components/header.astro";
import Realizacje from "~/components/realizacje.astro";
import Splash from "~/components/splash.astro";
import "~/styles/index.css";

const { generator, site } = Astro;
const image = new URL("social.jpg", site);
const description =
  "Kompleksowe wsparcie techniczne dla eventów";
---

<!doctype html>
<html lang="pl" class="h-full motion-safe:scroll-smooth" data-theme="dark">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
    <meta name="generator" content={generator} />

    <title>Technika Stosowana</title>
    <meta name="description" content={description} />

    <!-- social media -->
    <meta property="og:title" content="Technika Stosowana" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={image} />
    <meta property="og:url" content={site} />
    <!-- <meta name="twitter:card" content="summary_large_image" /> -->
  </head>
  <body
    class="h-full overflow-x-hidden bg-default text-default text-base selection:bg-secondary selection:text-white"
  >
    <Header />
    <Splash />
    <div class="space-y-24 px-8 pt-32">
      <O_Nas />
      <Realizacje />
      <Kontakt />
    </div>
    <Footer />
  </body>
</html>
